.container.add-plugin {
  input[type="text"],
  textarea {
    margin: 0;
    min-width: 10rem;
  }

  h2 {
    padding: 0;
    margin: 0;
  }

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;

    &:last-child {
      width: 100%;
      max-width: 20rem;
      gap: 1rem;
      button {
        flex: 1;

        &:first-child {
          color: var(--color-warning);
          border-color: var(--color-warning);
          box-shadow: 3px 3px var(--color-warning);
        }
      }
    }
  }
}
