.add-plugin {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  align-items: center;
  justify-content: center;

  .background {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.5s;
    z-index: -1;
  }

  .container {
    background-color: var(--color-background);
    display: flex;
    padding: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    input[type="text"],
    textarea {
      margin: 0;
      min-width: 10rem;
    }

    h2 {
      padding: 0;
      margin: 0;
    }

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      flex-shrink: 0;

      &:last-child {
        width: 100%;
        max-width: 20rem;
        gap: 1rem;
        button {
          flex: 1;

          &:first-child {
            color: var(--color-warning);
          }
        }
      }
    }
  }
}
