#root {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100svw;
  height: 100svh;
  padding: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  overflow: auto;
  scrollbar-width: thin;
}

.plugins {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  overflow: visible;
  overflow-x: auto;
  scrollbar-width: thin;
  z-index: 2;
  flex-shrink: 0;
  text-wrap: nowrap;
}

.plugin {
  background-color: var(--color-sub-background);
  border-radius: 1rem;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
  overflow: visible;
  gap: 0.5rem;

  &:hover {
    transform: scale(1.05);
  }

  &.disabled {
    .name {
      opacity: 0.5;
    }
  }

  &.selected {
    border: 2px var(--color-text) solid;
    margin: 0;
  }
}

.editor {
  display: flex;
  gap: 1.5rem;
  flex: 5;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-left: 1rem;
}

.preview,
.configs {
  position: relative;
  background-color: var(--color-sub-background);
  border-radius: 1rem;
  flex: 3;
  display: flex;
  padding: 2rem;
  overflow-y: visible;
}

.preview {
  max-width: calc(100% - 4rem);
  aspect-ratio: 16 / 9;
}

.preview .disabled,
.no-selected {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  font-size: 1rem;
}

.configs {
  flex: 1;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.config {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;

  &.disabled {
    opacity: 0.5;
  }

  &.remove {
    justify-content: center;
    font-weight: bold;
    color: var(--color-warning);
    cursor: pointer;
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  &.info {
    flex-direction: column;
    align-items: start;

    h2 {
      margin: 0;
      padding: 0;

      span {
        font-weight: normal;
        font-size: 0.75rem;
        opacity: 0.5;
      }
    }

    h4 {
      margin: 0;
      padding: 0;
      margin-top: 1rem;
    }
  }
}

.scale-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
