html,
body {
  user-select: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.25;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent !important;
  background-color: var(--color-background);
  color: var(--color-text);
}

html[data-theme="light"] {
  --color-border: #999999;
  --color-text: #000000;
  --color-background: #f7f7f7;
  --color-sub-background: #ffffff;
  --color-warning: #ff4545;
}

html[data-theme="dark"] {
  --color-border: #717171;
  --color-text: #c3c3c3;
  --color-background: #2b2b2b;
  --color-sub-background: #373737;
  --color-warning: #cc3300;
}

input:not([type="checkbox"]),
textarea,
button,
select {
  border: 2px var(--color-border) solid;
  box-shadow: 3px 3px var(--color-border);
  border-radius: 0.5rem;
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  outline: none;
  background-color: var(--color-sub-background);
  color: var(--color-text);
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-border);

  border-radius: 5px;
  opacity: 0.3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-border);
  opacity: 0.4;
}

::-webkit-scrollbar-button {
  display: none;
}
